<div class="tele-main-div">
    <div class = 'mod-content-header'>
        <h3 class="mod-content-title">Telematic Config</h3>
        <small>Subheader should go here ...</small>
    </div>
    <div layout-sm='column' layout-gt-sm="row" >
        <md-card class="card-tele-size" flex-xs="100" flex-sm="40" flex-gt-sm="40">
            <md-card-header>
                <md-card-header-text class='title-tele-text'>
                    <h4 class="tele-card-text md-title">Select Bank Office IP</h4>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class='content-text'>
                <md-radio-group ng-model="selected" layout='row'>
                    <md-radio-button value="1" ng-model='radiovalue' aria-label="Label 1" flex='70'>
                        <span class="tele-radio-text1">Other Countries</span>
                    </md-radio-button>
                    <md-radio-button value="2" ng-model='radiovalue' aria-label="Label 2" flex='30'>
                       <span class="tele-radio-text"> China</span>
                    </md-radio-button>
                </md-radio-group>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="firstcard-button">
                <md-button class="md-raised md-primary">SAVE</md-button>
            </md-card-actions>
        </md-card>
        <md-card class='card-tele-size1' flex-xs="100" flex-sm="40" flex-gt-sm="40">
            <md-card-header>
                <md-card-header-text class='title-tele-text'>
                    <h4 class="tele-card-text md-title">Key Switch Input</h4>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class='content-text'>
                <md-radio-group ng-model="selected" layout='row'>
                    <md-radio-button value="3" ng-model='radiovalue' aria-label="Label 1" flex='90'>
                        <span class="tele-radio-text2">Use Key Switch</span>
                    </md-radio-button>
                    <md-radio-button value="4" ng-model='radiovalue' aria-label="Label 2" flex='90'>
                        <span class="tele-radio-text2">Ignore Key Switch</span>
                    </md-radio-button>
                </md-radio-group>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="secondcard-button">
                <md-button class="md-raised md-primary">SAVE</md-button>
            </md-card-actions>
        </md-card>
        <md-card class='card-tele-size2' flex-xs="100" flex-sm="40" flex-gt-sm="50">
            <md-card-header>
                <md-card-header-text class='title-tele-text'>
                    <h4 class="tele-card-text md-title">Service Meter Hours Source</h4>
                    <p class="title-tele-text-p3">Use this setting to change source of service meter hours</p>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <md-radio-group ng-model="selected" layout='column' class='tele-card3-radio-text'>
                    <md-radio-button value="5" ng-model='radiovalue' aria-label="Label 1">
                       <span> J139</span>
                    </md-radio-button>
                    <md-radio-button value="6" ng-model='radiovalue' aria-label="Label 2">
                        <span>R-Term DC & R-Term DC</span>
                    </md-radio-button>
                    <md-radio-button value="7" ng-model='radiovalue' aria-label="Label 2">
                        <span>Key Switch Input</span>
                    </md-radio-button>
                </md-radio-group>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="button-class">
                <md-button class="md-raised md-primary">SAVE</md-button>
            </md-card-actions>
        </md-card>
    </div>
    <div layout="row">
        <md-card class='card-tele-size3' flex-xs="100" flex-sm="100" flex-gt-sm="40" flex-offset-gt-sm="60" >
            <md-card-header>
                <md-card-header-text>
                    <h4 class="tele-card-text md-title">Change Service Meter Hours Value</h4>
                    <p class="title-tele-text-p4">Note this will not change SMH coming from J1939</p>
                </md-card-header-text>
            </md-card-header>
            <md-card-content class="content-text4">
                <p>Current SMH: Unavailable</p>
                <input type="text" ng-model="data" class="text-box" placeholder="New Service Meter Hours">
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" >
                <md-button class="md-raised md-primary">SAVE</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
